@import 'shared/form.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/variables.css';

:root {
    font-size: 20px;
    font-family: 'Gotham Rounded';
    color: var(--color-text-light);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        to right,
        var(--color-background-dark),
        var(--color-background-light)
    );
}

.container {
    margin: auto;
    max-width: 1200px;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 2rem;
}

.page-header {
    font-size: 2rem;
    font-weight: 500;
}
